<div style="margin-top:-65px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px;
            box-shadow:0 5px 5px 0 gray">
            <h3>Back-end</h3>
            <p>Desarrollo de aplicaciones web y puesta en producción con entrega continua</p>
            <p class="text-primary cabecera">Stack:</p>
            <p>ASP.NET Core, SQL Server</p>
            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Web APIs</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius:0 15px 15px 0;
            box-shadow:0 5px 5px 0 gray">
            <h3>Front-End</h3>
            <p>Se crean front-ends robustos que cumplen con los requerimientos del negocio</p>
            <p class="text-primary cabecera">Stack:</p>
            <p>Angular, React</p>
            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                <li>Angular</li>
                <li>JQuery</li>
                <li>Pruebas automaticas</li>
            </ul>
        </div>
    </div>
</div>
