@model IEnumerable<Proyecto>
@{
    ViewData["Title"] = "Proyectos";
}
<div class="container">
    <h1>Mis Proyectos</h1>
    <p>Aqui encontrarás todos los proyectos en los que hemos trabajado</p>
</div>

<partial name="_ListadoProyectos" model="Model" />
